* {
   margin: 0;
   padding: 0;
   text-decoration: none;
}

body {
   box-sizing: border-box;
   scroll-behavior: smooth;
   background-color: #fff;
   font-family: 'Roboto', sans-serif;
}

.container,
.header_content,
.characteristic_content {
   width: 1146px;
   margin: 0 auto;
}

.header_img {
   width: 100%;
   object-fit: contain;
}

h1,
h2 {
   margin-block: 30px;
}

p,
a {
   margin-block: 15px;
}